
.room-201 {
    transform: translate(130px,80px);
}
.room-202 {
    transform: translate(85px,250px);
}
.room-203 {
    transform: translate(215px,105px);
}
.room-204 {
    transform: translate(170px,270px);
}
.room-205 {
    transform: translate(300px,125px);
}
.room-206 {
    transform: translate(255px,295px);
}
.room-207 {
    transform: translate(460px,160px);
}
.room-208 {
    transform: translate(340px,325px);
}
.room-209 {
    transform: translate(420px,340px);
}
.room-211 {
    transform: translate(740px,205px);
}
.room-212 {
    transform: translate(1000px,235px);
}
.room-213 {
    transform: translate(980px,405px);
}
