
.room-301 {
    transform: translate(130px,80px);
}
.room-302 {
    transform: translate(125px,260px);
}
.room-303 {
    transform: translate(215px,105px);
}
.room-304 {
    transform: translate(300px,125px);
}
.room-305 {
    transform: translate(295px,300px);
}
.room-306 {
    transform: translate(500px,160px);
}
.room-307 {
    transform: translate(435px,330px);
}
.room-308 {
    transform: translate(520px,360px);
}
.room-310 {
    transform: translate(770px,215px);
}
.room-311 {
    transform: translate(930px,235px);
}
.room-312 {
    transform: translate(1060px,250px);
}
.room-313 {
    transform: translate(1020px,400px);
}
